@page
@model LoginTest_MVC.Views.Home.Login

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>登录页面</title>
</head>
<body>
<div class="card" style="width: 18rem;">

    <div class="card-body">
        <h5 class="card-title"></h5>

    </div>
</div>
<form asp-action="Login" asp-controller="Home" method="post">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">账111号</label>
        <input type="text" class="form-control" id="" name="Username" placeholder="请输入账号">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">密111码</label>
        <input type="password" class="form-control" id="" name="Password" placeholder="请输入密码">
    </div>
    <a asp-action="Register" asp-controller="Home">还没有账号？前去注册</a>
    <button type="submit" class="btn btn-primary">登录</button>
</form>
</body>
</html>